*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(./background_image.jpg);
    color: white;
}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
span
{
    color: red;
}
p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.container
{
    text-align: center;
    background-color: black;
    
    margin: 40px 50px;
    
}
div form
{
     background-color: red;
    border: solid yellow;
    text-align: left;
    width: 30%;
    margin: auto;
    padding: 20px 10px 10px 20px;
    /* display: flex; */
    
}

#name, #age, #email
{
    width: 95%;
    margin: 10px 0px;
}
#submit
{
    text-align: center;
}
.sec
{
    display: inline;
}
select
{
    width: 95%;
    margin-top: 10px;
}
textarea
{
    width: 95%;
}

