* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  opacity: 0.7;
}

.first {
  background-image: url(./bg.jpg);
}
.photo {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 3rem;
  letter-spacing: 8px;
  font-weight: 400;
  padding: 2rem;
  border-radius: 20px 0;
  outline-color: purple;
  outline-style: inset;
  outline-width: 8px;
  outline-offset: 1rem;
}
.whiteback {
  background-color: #f1f1f1;
}
.text {
  text-align: center;
  padding: 3rem 5rem;
  line-height: 2rem;
}
.text h3 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.second {
  background-image: url(./bg2.jpg);
  text-align: center;
}

.second img {
  width: 30%;
}

.blackback {
  background-color: black;
  color: white;
}

.third {
  background-image: url(./bg3.jpg);
}
.third h1 {
  padding: 11px;
  outline-offset: 3px;
  font-size: 3rem;
}

.fourth {
  background-image: url(./bg4.jpg);
}
